<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Art Store</h3>
      <strong>AS</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-tshirt"></i>
          Camisetas
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Cadastrar</a>
          </li>
          <li>
            <a href="#">Listar</a>
          </li>
        </ul>
      </li>
      
      <li>
        <a href="#">
          <i class="fas fa-sign-out-alt"></i>
          Sair
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div class="d-flex flex-column" style="width: 100%;">
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light" style="background: #e8f1f8;">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn">
            <i class="fas fa-bars"></i>
          </button>        
        </div>
      </nav>
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>

