

<footer class="page-footer font-small teal caixa">

    <div class="footer-copyright text-center py-3">

        <div class="text-center" style="color:black;">
            <span>{{anoAtual}} © Art Store - Todos os direitos reservados</span>
            <p class="text-center">
                As melhores camisetas você encontra aqui !
            </p>

        </div>
        <div class="d-flex justify-content-center">
            <span>
                <div class="heart">
                    <div class="square"></div>
                    <div class="circle top"></div>
                    <div class="circle left"></div>
                </div>
            </span>


        </div>
    </div>
</footer>
